@import 'root.css';

.Header {
	width: 80%;
	padding: 10px 10px;
	border: 2px solid transparent;
	border-image: var(--border_color);
	box-shadow: var(--box_shadow);
	border-image-slice: 1;
	border-image-outset: 2px;
	display: flex;
	margin: 10px auto;
}

.Header__logo {
	width: 60px;
	border-radius: 100%;
}
.Header__nav {
	float: left;
	margin-left: 30px;
	padding: 15px;
	display: flex;
	gap: 15px;
}
.Header__link {
	font-weight: bold;
	font-size: 20px;
	text-decoration: none;
	color: rgb(16, 66, 158);
	transition: 0.4s;
	line-height: 1;
}
.Header__link:after {
	display: block;
	width: 0;
	height: 2px;
	background-color: rgb(113, 113, 252);
	content: '';
	transition: width 0.3s ease-out;
}
.Header__link:hover:after,
.Header__link:focus:after {
	width: 100%; /*устанавливаем значение 100% чтобы ссылка подчёркивалась полностью*/
}
