@import 'root.css';

.News {
	padding: auto;
	width: 70%;
	border: 20px;
}
.News__news {
	width: 100%;
	border-radius: 22px;
	border: 2px solid black;
	display: flex;
	flex-direction: column;
	box-shadow: var(--box_shadow);
}
.News__news_title {
	text-align: center;
	border-radius: 20px 20px 0 0;
	color: rgb(4, 24, 59);
	background: var(--background_color);
}
.News__news_site_and_my {
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-auto-flow: column;
}
.News__news_site_title,
.News__news_me_title {
	text-align: center;
	border-bottom: 2px solid var(--border_news);
	color: var(--color_text);
}
.News__news_me_title {
	border: none;
	border-bottom: 2px solid var(--border_news);
}
.News__changes {
	padding: 30px 0 30px;
	max-height: 100%;
}
.News__list {
	display: flex;
	flex-direction: column;
	gap: 20px;
	color: var(--color_text);
	padding: 0 0 0 30px;
}

.News__news_block {
	float: left;
	background: var(--background_colorChanges);
	border-bottom: 2px solid var(--border_news);
	border-top: 2px solid var(--border_news);
	border-right: 1px solid var(--border_news);
	border-left: 1px solid var(--border_news);
}
.News__news_block:nth-of-type(1) {
	border-radius: 0 0 0 20px;
}
.News__news_block:nth-of-type(2) {
	border-radius: 0 0 20px 0;
}
.Portfolio {
	width: 70%;
	border-radius: 20px;
}
.Portfolio__block {
	box-shadow: var(--box_shadow);
	display: flex;
	flex-direction: column;
	padding: 10px;
	border-radius: 20px;
	border: 2px solid black;
}
.Portfolio__title {
	display: flex;
	margin: auto;
	justify-content: center;
	align-items: center;
	color: var(--color_text);
	border-bottom: 2px solid var(--border_news);
}
.Portfolio__content {
	padding: 10px;
}
.Portfolio__slider {
	display: flex;
	flex-direction: column;
	justify-content: center;
	margin: auto;
	align-items: center;
	gap: 20px;
}
.Portfolio_button {
	display: flex;
	justify-content: center;
	gap: 1vw;
}

.Portfolio__btn {
	width: 6vw;
	height: 3vh;
	cursor: pointer;
	font-size: 2.2vh;
	border: none;
	background: rgb(129, 159, 241);
	border-radius: 10px;
}
.Portfolio__btn:hover {
	background: rgb(117, 144, 219);
}
.Portfolio__btn:active {
	background: rgba(94, 117, 180, 0.801);
}
.Portfolio__slide {
	display: flex;
	flex-direction: row;
	gap: 10px;
}
.Portfolio__slide_item_mn,
.Portfolio__slide_item_link_mn {
	width: 24vw;
	height: 24vh;
	border-radius: 20px;
	box-shadow: var(--box_shadow);
}

.Portfolio__slide_item_sm,
.Portfolio__slide_item_link_sm {
	width: 14vw;
	height: 14vh;
	margin: auto;
	border-radius: 20px;
}
